{% extends "header.html" %} {% block content %}
<div class="row">
    <div class="col" data-width="10%">
        {# Profile picture #}
        <img class="propic" width="400" src="data:image/png;base64,{{ image }}" alt="" >
        <br>
    </div>
    <div class="col">
        <h1>Hey, {{ current_user.username }}!</h1>
        <h4> Description: </h4>
        <p> {{current_user.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="" method="post">
            {{ username_form.csrf_token }}
            <div class="form-group">
                {{ username_form.username.label(class="form-control-label") }} {{ username_form.username(class="form-control form-control-lg") }} {% if username_form.username.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in username_form.username.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ username_form.submit }}
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Profile Picture Update Form #}
        <form method="POST" action="" enctype="multipart/form-data">
            {{ picture_form.csrf_token }}
            <div class="form-group">
                {{ picture_form.picture.label }}
                {{ picture_form.picture(class="form-control") }}

                {% if picture_form.picture.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in picture_form.picture.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {{ picture_form.picture_submit() }}
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        {# Description Update Form #}
        <form method="POST" action="" enctype="multipart/form-data">
            {{ desc_form.csrf_token }}
            <div class="form-group">
                {{ desc_form.desc.label }}
                {{ desc_form.desc(class="form-control") }}

                {% if desc_form.desc.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in desc_form.desc.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {{ desc_form.desc_submit() }}
        </form>
    </div>
</div>
<a href="{{ url_for('posts.user_detail', username=current_user.username) }}">
    <h4>Click here to see your page!</h4>
</a>
{% endblock %}>