{% extends "header.html" %} {% block content %} {% if error_msg %}
<b>{{ error_msg }}</b> {% endif %} {% if post %} {# Display card for post details #}
<div class="row">
    <div class="col">
        <div class="card text-center">
            <div class="card-header">
                <a href="{{ url_for('posts.user_detail', username=post.poster.username) }}">
                    <strong>@{{ post.poster.username }}</strong>
                </a>at {{ post.date }}<br> {{ post.title }}
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">

                    <p>
                        {{post.content}}
                    </p>

                    <img src="{{post.gif_url}}">
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h1> Comments <small class="float-right">{{ comments|length }} comments</small></h1>
        <ul class="media-list">
            {% for comment in comments %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
            <small>{{ comment.date }}</small>
          </span>
                    <a href="{{ url_for('posts.user_detail', username=comment.commenter.username) }}">
                        <strong>@{{ comment.commenter.username }}</strong>
                    </a>
                    <p>
                        {{ comment.content }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% if current_user.is_authenticated %} {# Comment form #}
<div class="row">
    <div class="col">
        <form method="POST" action="">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.text.label }} {{ form.text(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.gifQuery.label(class="form-control-label green-text") }} {{ form.gifQuery(class="form-control form-control-md") }}
            </div>
            {{ form.submit() }}
        </form>
    </div>
</div>
{% endif %} {% endif %} {% endblock content %}