{% extends "header.html" %} {% block content %}
<div class="row">
    <div class="col">
        <h2>{{ username }}'s Posts</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1> Posts <small class="float-right">{{ posts.count() }} posts</small></h1>
        <ul class="media-list">
            {% for post in posts %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ post.date }}</small>
                    </span>
                    <strong>For: <a href="{{ url_for('posts.post_detail', post_id=post.post_id) }}">
                            {{ post.title }}
                        </a>
                    </strong>
                    <p>
                        {{ post.content }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}