.card-body>img {
    max-width: 200;
}

.query {
    margin-top: 50px;
    text-align: center;
}

.review-item {
    border-bottom: 1px dashed #a5a5a5;
}

.token {
    max-width: 800;
    word-wrap: break-word;
}

.search {
    margin: auto;
    margin-top: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
}

#search-header {
    margin-bottom: 30px;
    text-align: center;
}

.search-form {
    margin: auto;
    display: flex;
    width: 75%;
}

.my-container {
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-child {
    width: 50%;
}

.site-body {
    background-color: #40528b;
    color: white;
}

<<<<<<< HEAD
.propic {
    border-radius: 100%;
    max-width: 40%;
    margin-right: 100px;
}

.flex-right {
    display: flex;
    justify-content: right;
=======
#navbar {
    background-color: rgb(149, 211, 99);
>>>>>>> 1e0566d444b337189cc46e5d8533c9925fca4656
}