.card-body>img {
    max-width: 200;
}

.query {
    margin-top: 50px;
    text-align: center;
}

.review-item {
    border-bottom: 1px dashed #a5a5a5;
}

.token {
    max-width: 800;
    word-wrap: break-word;
}

.search {
    margin-top: 20%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search-header {
    margin-bottom: 30px;
    text-align: center;
}

.search-form {
    margin: auto;
    display: flex;
    width: 75%;
}

.my-container {
    padding-top: 2%;
    padding-left: 5%;
}

#navbar {
    background-color: rgb(149, 211, 99);
}